@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

html, body {
  height: 100%;
  width: 100%;
  border: thin solid white;
}

header.navbar {
  border-bottom: 1px solid white;
}

.navbar-end {
  margin-inline-end: 10px;
}

#rulesbutton {
  gap: 5px;
}

#readrules {
  font-family: 'Fira Mono', monospace;
}

#rulesbuttondiv {
  margin-inline-end: 70px;
}

#navtextdiv {
  border-right: 1px solid white;
  padding-left: 25px;
  padding-right: 15px;
}

#navtextdiv:hover, #navtext:hover {
  background-color: white;
  transition: .5s;
  color: black;
}

#alphabetdiv {
  border-right: 1px solid white;
  padding-top: 20px;
  padding-right: 130px;
}

.hero-body {
  padding-bottom: 30px;
}

#bodyflex {
  gap: 50px;
}

#centerbodypictext {
  padding-left: 75px;
  padding-bottom: 20px;
}

#HangmanPic {
  border-radius: 5px;
  box-shadow: 5px 5px 20px white, -5px -5px 20px white;
}

#willyou {
  font-family: 'Fira Mono', monospace;
  font-size: 40px;
}

#gamerules {
  text-decoration: underline;
  font-family: 'Fira Mono', monospace;
  font-size: 40px;
}

.rulestext {
  font-family: 'Fira Mono', monospace;
  font-size: 25px;
  color: #00FFFF;
  padding-left: 15px;
  padding-right: 15px;
}

.emphasis {
  font-weight: bold;
  color: #FF3131;
}

.keyword {
  font-weight: bold;
  color: #FF00FF;
}

.standout {
  font-weight: bold;
  color: #FFFF00;
}

#rulesdiv {
  text-align: center;
  gap: 25px;
  color: #00FF00;
}

/* Animates the "Hangman" and "abcdefghijklmnopqrstuvwxyz" text in the nav bar */

#navtext {
  animation: glitch 1s linear infinite;
  font-size: 50px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: 3px;
}

@keyframes glitch {
  2%,64% {
    transform: translate(2px,0) skew(0deg);
  }
  4%,60% {
    transform: translate(-2px,0) skew(0deg);
  }
  62% {
    transform: translate(0,0) skew(5deg); 
  }
}

#navtext: before, #navtext: after {
  content: attr(title);
  position: absolute;
  left: 0;
}

#navtext: before {
  animation: glitchTop 3s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,64% {
    transform: translate(2px,-2px);
  }
  4%,60% {
    transform: translate(-2px,2px);
  }
  62% {
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#navtext: after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
  2%,64% {
    transform: translate(-2px,0);
  }
  4%,60% {
    transform: translate(-2px,0);
  }
  62% {
    transform: translate(-22px,5px) skew(21deg); 
  }
}

#flippingalphabet {
  position: relative;
}

#flippingalphabet span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.1s * var(--i))
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
